.navbar {
    background-color: black;
    
  }
  
  .nav a.active {
    background-color: #d6c139;
    color: #211e1e;
    border-radius: 8px;
  }
  
  .nav a.inactive {
    color:white;
  }
  .nav{
    align-items: center;
  }